form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 100px; /* Ajusta según el tamaño que prefieras */
    margin-right: 10px; /* Espacio entre el label y el input */
    color: white;
}

.inputej3 {
    padding: 10px;
    width: 300px; /* Ajusta el ancho de los inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}